@model CategoryViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">

    <form method="post">
        <br />

        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />

        <label>Kategori Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />

        <button class="btn btn-outline-success">Kategori Ekle</button>

    </form>

</div>
